@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@900&display=swap');

html,
body {
  width: 100%;
  height: 100%;
  color: #000000;
  padding: 0;
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 100;

  #__next {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
  }

  main {
    display: grid;
    padding: 20px;
    flex: 1;
    align-content: flex-start;
    gap: 20px;
    justify-content: center;
    overflow: auto;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
